extends dashboard_layout

block content
  h1 Coding Challenge Dashboard

  .panel.panel-default
    .panel-heading
      strong Teams
    .panel-body
      h4 Add Team
      form#add-team
        .row
          .col-md-6
            input.form-control(name='name', type='text', placeholder='Name...')
          .col-md-6
            input.form-control(name='token', type='text', placeholder='Token...')
        br
        input.form-control(name='members', type='text', placeholder='Member 1...')
        input.form-control(name='members', type='text', placeholder='Member 2...')
        input.form-control(name='members', type='text', placeholder='Member 3...')
        input.form-control(name='members', type='text', placeholder='Member 4...')
        br
        button.btn.btn-info#btn-add-team1 Add Team
      br
      #teams
        table.table.table-bordered.table-condensed
          thead
            th Name
            th Token
            th Members
          tbody
