extends layout

block content
  h1 Coding Challenge Dashboard

  .row
    .col-md-6
      .panel.panel-default
        .panel-heading
          strong Teams
        .panel-body
          h4 Add Team
          form#add-team
            .row
              .col-md-6
                input.form-control(name='name', type='text', placeholder='Name...')
              .col-md-6
                input.form-control(name='token', type='text', placeholder='Token...')
            br
            input.form-control(name='members', type='text', placeholder='Member 1...')
            input.form-control(name='members', type='text', placeholder='Member 2...')
            input.form-control(name='members', type='text', placeholder='Member 3...')
            input.form-control(name='members', type='text', placeholder='Member 4...')
            br
            button.btn.btn-info#btn-add-team1 Add Team
          br
          #teams
            table.table.table-bordered.table-condensed
              thead
                th Name
                th Token
                th Members
              tbody

    .col-md-6
      .panel.panel-default
        .panel-heading
          strong Challenges
        .panel-body
          h4 Add Challenge
          form#add-challenge
            input.form-control(name='name', type='text', placeholder='Name...')
            br
            textarea.form-control(name='description', placeholder='Description...')
            .input-output-fields
              button.btn.btn-info#btn-add-input-output Add Input/Output
              br
            .plugins
              button.btn.btn-info#btn-add-plugin Add Plugin
              br
            br
            button.btn.btn-info#btn-add-challenge Add Challenge
          br
          #challenges
            table.table.table-bordered.table-condensed
              thead
                th Name
                th Description
                th Inputs
                th Outputs
                th Plugins
                th Actions
              tbody
