extends layout

block content
  h1 Coding Challenge Dashboard

  .row
    .col-md-6
      .panel.panel-default
        .panel-heading
          strong Teams
        .panel-body
          h4 Add Team
          #addTeam
            fieldset
              input.form-control#inputTeamName(type='text', placeholder='Name...')
              input.form-control#inputTeamToken(type='text', placeholder='Token...')
              br
              button.btn.btn-info#btnAddTeam Add Team
          br
          #teams
            table.table.table-bordered.table-condensed
              thead
                th Name
                th Token
              tbody

    .col-md-6
      .panel.panel-default
        .panel-heading
          strong Challenges
        .panel-body
          h4 Add Challenge
          form#add-challenge
            input.form-control(name='name', type='text', placeholder='Name...')
            br
            textarea.form-control(name='description', placeholder='Description...')
            .input-output-fields
              button.btn.btn-info#btn-add-input-output Add Input/Output
              br
            .plugins
              button.btn.btn-info#btn-add-plugin Add Plugin
              br
            br
            button.btn.btn-info#btn-add-challenge Add Challenge
          br
          #challenges
            table.table.table-bordered.table-condensed
              thead
                th Name
                th Description
                th Inputs
                th Outputs
                th Plugins
                th Actions
              tbody
